.button {
  width: 100px;
  border: 2px solid #428bca;
  background-color: transparent;
  color: #428bca;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}
