.user-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.total-results {
  min-width: 630px;
  margin-top: 16px;
}

.users-state {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.error {
  color: red;
}

.pagination {
  border: 1px solid black;
  display: flex;
  min-width: 647px;
  justify-content: flex-end;
}

.paginate-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  width: 400px;
  padding: 0px;
}

.prev-next-button {
  border: 1px solid black;
  padding: 8px;
}

ul {
  list-style-type: none;
}
