.user-card {
  background-color: white;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
}

.avatar-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.user-card-info {
  padding-left: 16px;
}

.user-name {
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.profile-url {
  padding-bottom: 8px;
}

.user-card-button {
  display: flex;
  align-items: flex-end;
}

.user-card-top {
  margin-top: 16px;
}

.expanded-card {
  background-color: white;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
}
