.header {
  display: flex;
  justify-content: center;
  background-color: #428bca;
  padding: 20px;
  color: white;
}

.header-name-input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 12px;
  width: 300px;
}

.header-sort-input {
  height: 45px;
  width: 250px;
  background-color: white;
  font-size: 16px;
}

.header-form {
  min-width: 630px;
  display: flex;
  justify-content: space-between;
}
